// Global CSS goes here


html, body {
	font-family:"freight-sans-pro", arial, sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	color: $darkGray;
	box-sizing:border-box;
}

* {
	box-sizing:inherit;
}

h1 {
	font-size: 55px;
	font-weight: 300;
	font-style: italic;
	line-height: 55px;
	color: $darkBlue;
	small {
		font-weight: 100;
	}
}

p {
font-family: FreightSansProBook-Regular;
font-size: 16px;
color: rgba(0,0,0,0.70);
letter-spacing: 0;
line-height: 24px;
}

.header__main {
	border-bottom:1px solid $lightGray;
	height:61px;
}

.nav__main {
	display:none;
	@include orangegradient;
	position:absolute;
	padding:25px;
	left:0px;
	right:5%;
	bottom:0px;
	top:0px;
	&:hover {
		background:transparent;
	}
}

.nav__list {
	margin:0px;
	padding:0px;
}

.nav__item {
	list-style:none;
	line-height:60px;
}

.nav__link {
	color:$white;
	font-size:75px;
	font-style:italic;
	text-transform:uppercase;
	&:hover {
		text-decoration: underline;
	}
}

.button {
	display:inline-block;
	padding:8px 10px;
	color:#fff;
	text-transform:uppercase;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	line-height: 15px;
	letter-spacing: 2px;
	font-weight:200;
	color: $white;
	transition:0.5s;
	text-decoration:none;
	@include orangegradient;
}

#hero {
	margin-top:80px;
}

.orange-lede {
	background-image: linear-gradient(-135deg, #FF3800 0%, #FF7D00 100%);
	padding:50px 0px;
	font-family: FreightSansProBook-Regular;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 24px;

	p {
		color:$white;
	}
}

.card {
	background: #FFFFFF;
	border: 1px solid rgba(0,0,0,0.10);
}

.card__top {
	@include orangegradient;
	padding:20px;
	text-align:center;
	h2 {
				/* Basic: */
		font-family: FreightSansProLight-Regular;
		font-size: 45px;
		color: #FFFFFF;
		font-weight: 100;
		letter-spacing: 0;
		margin:0px;
		text-align: center;
	}

	.card__top__price {
	/* $1,800: */
		font-family: FreightSansProBook-Italic;
		font-size: 24px;
		color: #513800;
		letter-spacing: 0;	
		line-height:1.5em;
	}
}

.package__features {
	font-family: FreightSansProLight-Italic;
	font-size: 16px;
	color: #000000;
	letter-spacing: 0;
	line-height: 34px;
	list-style:none;
	text-align:center;
}