

h1 {
	font-size:55px;
	line-height:55px;
}

.lede-col {
	width:50%;
	float:right;
	>div{
		width:90%;

	}
}

.hero-img {
	width:50%;
	max-width:900px;
}

.nav-holder {
	//max-width:95em;
	margin:0 auto;
}



